<html lang="FR" >
<head>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" type="text/css" href="./bundle.css" media="screen" />
</head>

<body>
    <h1 class="titre"></h1>

    <div class="progrem-grid-component"></div>

    <!--
    <br/><br/>
    <select class="peinture">
        <option value="instruction">Peinture par instruction</option>
        <option value="pixel" selected="selected">Peinture par pixel</option>
        <option value="ligne">Peinture par ligne</option>
        <option value="image">Peinture par image</option>
    </select>

    <button class="peindre">Repeindre</button>

    <br/><br/>
    -->

    <div class="control-panel-component">
        <div><label>Mode:</label><input class="mode-selector" type="range" min="0" max="3" step="1"></div>
        <div><label>Vitesse:</label><input class="speed-selector" type="range" min="0" max="6" step="1"></div>
        
    </div>

    <div class="grid">
        <div class="progrem-inspector-component"></div>

        <div class="variable-scope-component"></div>
    </div>

    <div class="progrem-editor-component">
        <h2>Editer un Progrem</h2>

        <button class="refresh-action">Refresh</button>

        <div class="colorer-progrem-editor">
            <p class="function-declaration">function colorerProgrem(colonne, ligne, contexte) {</p>
                <textarea id="colorer-progrem-editor-id">
        
                </textarea>
            <p class="function-end">}</p>
        </div>

        <div class="init-progrem-editor">
            <p class="function-declaration">function initialiserProgrem(cadreLargeur, cadreHauteur) {</p>
            <textarea id="init-progrem-editor-id">

            </textarea>
            <p class="function-end">}</p>
        </div>

        <div class="code-libre-editor">
            <p>Code libre</p>
            <textarea id="code-libre-editor-id">
    
            </textarea>
        </div>
    </div>

</body>
</html>